*{
    font-size: 4vw;
    gap:0vw;
    text-align: center;
    white-space: initial;
    max-width: 100vw;
    border: none;
}
br{
    display: none;
}
#logo{
    display: none;
}
#logo_large{
    display: inline;
    max-width:40vw;
}
#prof_intro{
    display: block;
}

h1,h2,h3{
    color: black;
}
#navbar {
    overflow: hidden;
    background-color: #333;
    position: relative;
}
#logo{
    text-align: left;
}
#navbar_links{
    display: none;
}

#navbar_links li a{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

#navbar a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 20vw;
    height: 10vh;
}

#navbar a:hover {
    background-color: grey;
    color: black;
}

.active {
    background-color: #04AA6D;
    color: white;
}
#skill_1 img, #skill_2 img, #skill_3 img, #skill_4 img, #skill_5 img {
    width: 100vw;
    max-height: 100%;
    border: none;
}
#prj1, #prj2, #prj3,
#prj1 img, #prj2 img, #prj3 img{
    width: 100vw;
    max-height: 100%;
    border: none;
}
.grid-container{
    display: contents;
    align-content: center;
    object-fit: contain;
}
#hobbies{
    width:100vw;
    max-height: 100%;
    border: none;
}
#hobbies h3{
    color: white;
};
#education, #guests, #work_exp{
    max-height: 100%;
    width: 100%;
    border: none;
};