/*resetting browser css*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    float: inherit;
}
/*add external source just in case in case*/
@font-face {
    font-family: 'Indie Flower';
    src:url("img/indieFlower-Regular.ttf")
}
body{
    font-family:"Indie Flower",'Brush Script MT','cursive';
    background: #CEB774;
    color: #080427;
    font-size: 24px;
    margin: 5px;
    text-align: center;
}
/*styling for navbar id*/
#navbar{
    background:#B7AF15;
    color:#911410;
    overflow:auto;
    position: sticky;
    text-align: left;
}
/*styling for anchors in navbar id*/
#navbar a{
    color:#911410;
    font-size: 20px;
}
/*styling for unordered lists in navbar id*/
#navbar ul {
    float:right;
    list-style: none;
}
/*styling for list items in unordered lists in navbar id*/
#navbar ul li{
    float:left;
}
/*styling for anchor links in list items in unordered lists in navbar id*/
#navbar ul li a{
    display:block;
    padding:1.25em;
    text-align:center;
    border-radius: 10%;
}
/*styling for anchor links in hover in list items in unordered lists in navbar id and the current class*/
#navbar ul li a:hover{
    background:#CEB774;
    color:#380404;
}
#prof_intro{
    display: grid;
}
#pic_me{
    grid-column: 1/ span 1;
    border-radius: 100%;
    margin:6px;
    max-width: 500px;
    max-height: 500px;
}
#web_dev_text{
    grid-column: 2/ span 1;
    text-align: justify;
    font-size: 24px;
}
/*#past_exp{
    display: flex;
    align-content: center;
    justify-content: space-around;
}*/
#education {
    /* flex:1;*/
    grid-column: 1/span 1;
    grid-row: 1/span 2;
}
#work_exp{
    /*flex: 2;*/
    grid-column: 2/span 1;
    grid-row: 1/span 3;
}
#guests{
    /*flex: 3;*/
    grid-column: 3/span 1;
    grid-row: 1/span 1;
}
#self-education{
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

#e-courses{
    grid-column: 1/span 1;
    grid-row: 1/span 1;
}
#e-courses ul{
    list-style: none;
}
#qual{
    grid-column: 1/span 3;
    grid-row: 1/span 2;
}
#skill_1{
    grid-column: 2/span 1;
    grid-row: 1/span 1;
}
#skill_2{
    grid-column: 3/span 1;
    grid-row: 1/span 1;
}
#skill_3{
     grid-column: 1/span 1;
     grid-row: 2/span 1;
}
#skill_4{
      grid-column: 2/span 1;
      grid-row: 2/span 1;
}
#skill_5{
       grid-column: 3/span 1;
       grid-row: 2/span 1;
}
#past_prj{
    display: block;
}
#hobbies{
    grid-column: 1/span 1;
    grid-row: 1/span 1;
}
#self_intro{
    grid-column: 2/span 1;
    grid-row: 1/span 1;
    text-align: center;
}
#to_top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#to_top:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
.emp{
    color: #911410;
    font-weight: bold;
    font-size: 1.2em;
}
.grid-container{
    display: grid;
    grid-column-gap:10px ;
}